@model MetaPAL.Models.SpectrumMatch

@{
    ViewData["Title"] = "Create";
}

<h1>Upload Spectrum Matches</h1>
<hr/>

<form method="post">
    <div class="row">
        <label> Path to PSMTSV file </label>
        <input type="text" name="matchesPath" />

        <label> Path to data file </label>
        <input type="text" name="scanPath"/>

        <button type="submit" asp-controller="HelperFunctions" 
                asp-action="PushMatchesAndScansToDatabase">
            Upload
        </button>
    </div>
    
    <div class="progress">
        <div id="uploadProgress" class="progress-bar" role="progressbar" style="width: 25%;"
             aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
