
<div>
    Count:@ViewBag.Count
</div>

<div class="progress">
    <div class="progress-bar" role="progressbar" style="width: @ViewBag.Percentage%;" 
         aria-valuenow="@ViewBag.Percentage" aria-valuemin="0" aria-valuemax="100">@ViewBag.Percentage%</div>
</div>